/* PRELOADER IMAGE BACKGROUND */
/* line 15, ../../sass/colors/blue.scss */
.status {
  background-image: url(../../images/loader-blue.gif);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

/* THE OVERLAY COLORS WHICH WILL SHOW IN FRONT OF BACKGROUND IMAGES*/
/* line 24, ../../sass/colors/blue.scss */
.overlay-layer,
.overlay-layer-2 {
  background: url("../../images/damask.jpg");
  /* background: -moz-linear-gradient(-45deg,  $head-color 0%, $head-contrast 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$head-color), color-stop(100%,$head-contrast));
  background: -webkit-linear-gradient(-45deg,  $head-color 0%,$head-contrast 100%);
  background: -o-linear-gradient(-45deg,  $head-color 0%,$head-contrast 100%);
  background: -ms-linear-gradient(-45deg,  $head-color 0%,$head-contrast 100%);
  background: linear-gradient(135deg,  $head-color 0%,$head-contrast 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$head-color', endColorstr='$head-contrast',GradientType=1 );
   */
}

/* line 39, ../../sass/colors/blue.scss */
.overlay-layer .container {
  background: rgba(220, 220, 220, 0.9);
}

/* NAVBAR AND LINK COLORS */
/* line 44, ../../sass/colors/blue.scss */
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  color: black;
}

/* line 49, ../../sass/colors/blue.scss */
a {
  color: black;
}

/* line 53, ../../sass/colors/blue.scss */
a:hover {
  color: black;
}

/* line 57, ../../sass/colors/blue.scss */
.border-bottom-hover:hover {
  border-bottom-color: black;
}

/* line 61, ../../sass/colors/blue.scss */
.white-button:hover {
  color: black !important;
}

/* line 66, ../../sass/colors/blue.scss */
.sticky-navigation .main-navigation li a:hover,
.sticky-navigation .login-register li.login a:hover {
  color: black;
}

/* line 71, ../../sass/colors/blue.scss */
.sticky-navigation .main-navigation li.current a {
  color: black;
}

/* INPUT FIXES */
/* line 76, ../../sass/colors/blue.scss */
.input-box:active,
.textarea-box:active,
.input-box:focus,
.textarea-box:focus {
  border-color: black;
}

/* CLIENT PHOTO */
/* line 84, ../../sass/colors/blue.scss */
.feedback .pic-container {
  -webkit-box-shadow: 0px 0px 0px 1px black;
  box-shadow: 0px 0px 0px 1px black;
}

/* BUTTONS*/
/* line 90, ../../sass/colors/blue.scss */
.standard-button,
.navbar-register-button {
  background: black;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTlmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDhlZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a9ff), color-stop(100%, black));
  background: -webkit-linear-gradient(top, #00a9ff 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#00a9ff), to(black));
  background: linear-gradient(to bottom, #00a9ff 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@gradient-light', endColorstr='@main-color', GradientType=0);
  -webkit-box-shadow: 0px 3px 0px #eee;
  box-shadow: 0px 3px 0px #eee;
}

/* line 103, ../../sass/colors/blue.scss */
.standard-button:hover,
.navbar-register-button:hover {
  color: #ffffff;
  background: black !important;
  text-decoration: none;
}

/* line 110, ../../sass/colors/blue.scss */
.standard-button:focus,
.navbar-register-button:focus {
  color: #ffffff;
}

/* line 115, ../../sass/colors/blue.scss */
.standard-button:active,
.navbar-register-button:active {
  background: black !important;
  border-color: inherit !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* COLORED BACKGROUND AND TEXT*/
/* line 124, ../../sass/colors/blue.scss */
.color-bg {
  background: black;
}

/* line 128, ../../sass/colors/blue.scss */
.colored-text {
  color: black;
}

/* COLORED BORDERS AND LINES */
/* line 133, ../../sass/colors/blue.scss */
.colored-line-left,
.colored-line-right,
.colored-line {
  background: black;
}

/* line 139, ../../sass/colors/blue.scss */
.border-right-colored {
  border-right: 1px solid rgba(0, 142, 214, 0.3);
}

/* line 143, ../../sass/colors/blue.scss */
.border-left-colored {
  border-left: 1px solid rgba(0, 142, 214, 0.3);
}

/* line 147, ../../sass/colors/blue.scss */
.long-transparent-line {
  height: 1px;
  width: 200px;
  background: rgba(0, 142, 214, 0.3);
  margin: auto;
}
